<div class="wishlist-container">
    <div class="wishlist-header">
        <h1>Favorite places</h1>
    </div>

  @if (wishlistService.wishlistPlaces().length === 0) {
    <div class="empty-state">
        <mat-icon class="empty-icon">bookmark_border</mat-icon>
        <h2>Your wishlist is empty</h2>
        <p>You haven't added any places for travel yet.</p>

        <a mat-flat-button color="primary" routerLink="/" class="router-link">
            <mat-icon>search</mat-icon>
            Go to search
        </a>
    </div>
  } @else {
        <div class="places-grid">
            @for (place of wishlistService.wishlistPlaces(); track place.fsq_place_id) {
            <app-place-details [place]="place" />
            }
        </div>
  }
</div>